*{
    margin: 0;
    padding: 0;

}

body{
    background-color: rgb(19, 48, 73);
}

nav{
    background-color: rgb(9, 16, 22);;
    display: flex;
    justify-content: space-between;
}


nav .name{
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

.links{
    display: flex;

}

.links li{
    margin: 1.5rem;
    list-style: none;
    color: white;
    padding-top: 1rem
}

.links li a{
    color: white;
} 

.msg{
    margin-top: 15px;
    color: white;
    text-align: center;
}

picture{
    display: flex;
    justify-content: center;
}



